.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  background: #001d66;
}

.action-table {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  background-color: dodgerblue;
}

.action-table > div {
  width: 40px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
}

.fetching {
  background-color: yellow;
}

.cancelling {
  background-color: red;
}

.loaded {
  background-color: green;
}